<h1>My Lists</h1>

<%= link_to "Create New List", new_list_path, class: "btn btn-primary" %>

<div class="row">
  <% @lists.each do |list| %>
    <div class="col-md-4">
      <div class="card mb-4">
        <% if list.photo.attached? %>
          <div class="banner mb-5">
            <div class="banner-image" style="background-image: url('<%= cl_image_path(list.photo.key, crop: :fill, width: 1200, height: 400) %>');"></div>
          </div>
        <% else %>
          <div class="banner mb-5">
            <div class="banner-image" style="background-image: url('<%= image_path('default-banner.jpg') %>');"></div>
          </div>
        <% end %>

        <div class="card-body">
          <h5 class="card-title"><%= link_to list.name, list_path(list) %></h5>
          <%= link_to "Delete", list_path(list), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger btn-sm" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
